// contact.pug
extends layout

block content
  h1= title
  ul
    each item in navigation
      li
        a(href=item.url)= item.name
  p Contact us using the form below:
  form(action="/contact" method="post")
    label(for="name") Name:
    input(type="text" name="name" id="name")
    br
    label(for="email") Email:
    input(type="email" name="email" id="email")
    br
    input(type="submit" value="Submit")
