// home.pug

extends layout

block content
  h1= title
  ul
    each item in navigation
      li
        a(href=item.url)= item.name

  img(src='/pug.jpg', alt='Pug', width='300')
  
  button(onclick="downloadImage()") Download Image

  script.
    function downloadImage() {
      window.location.href = '/download';
    }
